h1 {
  background-color: #f1772b;
  padding: 20px;
}

.container-fluid {
  background-color: #f1772b;
}

.grid {
  display: grid;
  grid-gap: 54px;
}
.grid-odd-columns {
  grid-template-columns: 2fr 1fr;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.column {
  flex-basis: 50%;
  padding: 20px;
  box-sizing: border-box;
}

.title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
}

.embed {
  width: 100%;
  height: 400px;
  /* Add any additional styling you need for the embed */
}

.embed {
  width: 500px;
  height: 500px;
}
section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px 100px;
}

footer .social-links a {
  margin: 0 20px;
  color: var(--logo-color);
  background-color: var(--secondary-color);
  padding: 10px 15px;
  font-size: 25px;
  border-radius: 50%;
  transition: all 100ms ease-in-out;
}

@media (max-width: 960px) {
  header {
    padding: 35px;
  }

  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
    padding: 0;
  }
  .section {
    padding: 30px;
  }

  .embed {
    aspect-ratio: 16/9;
  }
}
