body {
  background-image: url(https://scontent.flba3-1.fna.fbcdn.net/v/t39.30808-6/362302850_10227324563072281_8812129655011247834_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=a73e89&_nc_ohc=q8Xr_XDTJzsAX9IIokL&_nc_ht=scontent.flba3-1.fna&oh=00_AfByVKrrZEoN_elTz0otEy88NrMHyp9_x6b4ovwSumjY5g&oe=659102CB);
  background-repeat: space;
  background-size: cover;
}

h1 {
  font-size: 150px;
  font-weight: 900;
  text-align: center;
  color: #c63e00;
}

p {
  font-size: 150px;
  font-weight: 900;
  text-align: center;
  color: #c63e00;
}
